.btn {
  font-weight: 300;

  &:active, &.active {
    box-shadow: none;
  }

  &:focus, &:focus:active {
    outline: none;
  }
}

.btn-primary, .btn-primary:focus {
  background-color: rgba(255, 255, 255, 0.25);
  color: $blue;
  border: 2px solid $blue;

  &:hover, &:active {
    color: white;
    border-color: $blue;
    background-color: $blue;
  }
}
