@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTS55F-webfont.eot');
  src: url('/fonts/PTS55F-webfont.eot?iefix') format('eot'),
       url('/fonts/PTS55F-webfont.woff') format('woff'),
       url('/fonts/PTS55F-webfont.ttf') format('truetype'),
       url('/fonts/PTS55F-webfont.svg#webfont') format('svg');
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('/fonts/PTN57F-webfont.eot');
  src: url('/fonts/PTN57F-webfont.eot?iefix') format('eot'),
       url('/fonts/PTN57F-webfont.woff') format('woff'),
       url('/fonts/PTN57F-webfont.ttf') format('truetype'),
       url('/fonts/PTN57F-webfont.svg#webfont') format('svg');
}
