input.form-control {
  border: 0 $gray solid;
  box-shadow: none;
  padding: 10px;
  height: auto;

  &.form-control-bordered {
    border-width: 2px;
  }
}

textarea.form-control {
  border-width: 0;

  &.form-control-bordered {
    border-width: 2px;
  }
}
