/**
 * Agora header styles
 * ------
 *
 * Based on bootstrap header/navbar
 */

.site-header {
  top: 0;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: $header-height;
  position: fixed;
  z-index: 1000;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.5);
  border-width: 0;

  .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  nav {
    li a:hover {
      background-color: $cloud;
    }

    li.active {
      a {
        background-color: $blue;
        color: white;
      }
    }
  }

  .secondary-nav {
    a {
      padding-top: 15px;
      display: block;
      line-height: 20px;
    }
  }
}

.dashboard-layout .site-header {
  margin-left: $sidebar-width;

  & > .container {
    margin: 0;
  }

  .navbar-header {
    display: none;
  }
}


/**
 * Agora footer styles
 */
.site-footer {
  background-color: $blue;
  padding: $section-padding-sm;

  a {
    color: white;
  }

  li {
    margin-right: $section-padding-sm;

    &:last-child {
      color: $blue;
      margin-right: 0;
    }
  }

  .list-social-media {
    a {
      line-height: 35px;
      width: 35px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      background-color: white;
      color: $blue;
    }
  }
}

.dashboard-layout .site-footer {
  padding-left: $sidebar-width;

  .container {
    width: 100%;
  }
}

/**
 * Headroom css
 */
.headroom {
  @include transition(transform 200ms ease);

  &.headroom--pinned {
    @include transform(translateY(0%));
  }

  &.headroom--unpinned {
    @include transform(translateY(-100%));
  }
}

@include mq_max($screen-sm - 1px) {
  .site-header {
    background-color: white;

    .navbar-header {
      border-bottom: 1px solid $light-gray;
      background-color: white;
      position: relative;
      z-index: 1;
    }

    .navbar-toggle {
      margin: 3px 0 0;
    }

    nav {
      border-width: 0;
      box-shadow: 0 1px 1px rgba(100, 100, 100, 0.5);

      .nav {
        margin: 0 -15px;
      }

      a {
        background-color: white;
      }

      li {
        border-bottom: $light-gray 1px solid;

        &:last-child {
          border-width: 0;
        }

        &.active {
          a {
            background-color: $blue;
          }
        }
      }
    }

    /**
     * Dropdown menu animation
     */
    .ag-show-toggle {
      transition: transform ease 0.2s;
    }

    .ag-hide {
      max-height: 500px;
      opacity: 1;
      transform: translateY(-101%);
    }
  }
}

