@mixin mq($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin mq_max($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin vertical-align-middle {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin full-bg-image ($url:'', $position:center, $size:cover){
  background: url($url) no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin banner-content-container($bg:rgba(white, 0.9), $padding: 50px, $border-radius: 5px) {
  background-color: $bg;
  padding: $padding;
  border-radius: $border-radius;
}
