@mixin mq($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin mq_max($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin vertical-align-middle {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin full-bg-image ($url:'', $position:center, $size:cover){
  background: url($url) no-repeat $position;
  background-size: $size;
}

@mixin banner-content-container($bg:rgba(white, 0.8), $padding: 50px, $border-radius: 5px) {
  background-color: $bg;
  padding: $padding / 2;
  border-radius: $border-radius;

  @include mq($screen-sm) {
    padding: $padding;
  }
}
