body {
  font-family: 'LatoLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
}


h1, h2, h3, h4, h5,
.h1-xl {
  margin-top: 0;
  margin-bottom: $line-gutter;
  font-weight: 300;
}

body, input, .form-control {
  font-size: 16px;
  line-height: 1.6em;
}

.h1-xl {
  font-size: $h1-xl;
  line-height: $h1-xl * 1.2;
}

.text-lead {
  font-size: 18px;
}

.text-blue {
  color: $blue;
}

.text-white {
  color: white;
}

.text-gray {
  color: $gray;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-black {
  color: $black;
}

.text-orange {
  color: $orange;
}

.text-green {
  color: $green;
}

/**
 * Mobile typography
 */
@include mq_max($screen-sm + 1px) {
  h1,
  .h1-xl {
    font-size: $h1-mobile;
  }

  h2 {
    font-size: $h2-mobile;
  }

  h3 {
    font-size: $h3-mobile;
  }

  h4 {
    font-size: $h4-mobile;
  }

  h1, h2, h3, h4, h5,
  .h1-xl {
    margin-bottom: $line-gutter-sm;
    line-height: $line-height;
  }

  .text-lead {
    font-size: 16px;
  }
}
