// Layout variables
$section-padding: 50px;
$section-padding-sm: 20px;

// Media query break points
$screen-sm: 767px;

// Typography
$h1-xl: 48px;
$line-height: 1.2em;
$line-height-lg: 1.5em;

// Color palette
