form.ag-subscribe-form(role="form", name="agSubscribeForm")
  .form-header
    .close(ng-show="isModal", ag-modal="dismiss") &times;
    h3 Get early access
  .form-body
    .alert.alert-success(ng-show="success") Submitted
    .form-group
      .input-wrapper
        input.form-control(type="text", name="name", placeholder="full name", ng-model="user.name", required=true)
      .input-wrapper
        input.form-control(type="email", name="email", placeholder="email address", ng-model="user.email", require=true)
      .input-wrapper
        input.form-control(type="text", name="company_name", placeholder="company name", ng-model="user.company_name")
    .form-group
      textarea.form-control(rows=3, name="company_description", placeholder="what do you do", ng-model="user.company_description")
    button.btn.btn-primary.btn-lg.btn-block(type="button", ng-click="submit()") Submit
