.overview
  h3.chart-title Number of calls in the past {{query.interval | intervalDisplay}}
  .controls
    div(ag-interval-switch="")
    div(ag-switch="", onselect="groupBy()", btns="groupByBtns", value="query", field="groupBy")
  canvas#calls-chart
