.overview
  .row
    .col-sm-3
      h1.text-green.total-minutes {{minutesUsage | number:0}}
      .text-lead total minutes used this month
    .col-sm-9
      .controls
        div(ag-interval-switch="")
      canvas#overview-chart(width="660", height="350")
  .map-container
    .ag-ip-map(ag-ip-map="", data-ip-locations="ipLocations")

