.overview
  .usage-text-container
    h3.total-minutes
      span.text-green.text-lead
        i.fa.fa-clock-o
        span &nbsp; {{minutesUsage || 0 | number:0}}
      span &nbsp; minutes used this month

  section
    h3.chart-title
      span Usage in the past {{query.interval | intervalDisplay}} &nbsp;
      span.text-muted (in min)
    .chart-container
      .controls
        div(ag-interval-switch="")
      .canvas-container
        canvas#overview-chart

  section
    h3.chart-title IP Locations in the past 30 days
    .map-container.chart-container
      .ag-ip-map(ag-ip-map="", data-ip-locations="ipLocations")

