.alert.dashboard-alert(ng-if="dashboardNotification" class="alert-{{dashboardNotification.type}}")
  {{dashboardNotification.content}}

.overview
  .usage-text-container.clearfix
    h3.total-minutes.pull-left
      span.text-green.text-lead
        i.fa.fa-clock-o
        span &nbsp; {{minutesUsage || 0 | number:0}}
      span &nbsp; minutes used this month
    .pull-right(ag-download-data-dropdown="")

  section
    h3.chart-title
      span Usage in the past {{query.interval | intervalDisplay}} &nbsp;
      span.text-muted (in min)
    .chart-container
      .controls
        div(ag-interval-switch="")
      .canvas-container
        canvas#overview-chart
        .loader(ng-show="loading.voiceUsage")
          i.fa.fa-spin.fa-spinner.fa-4x
        .data-empty-state(ng-hide="hasData.voiceUsage")
          i.fa.fa-folder-open-o
          span &nbsp; No data yet

  section
    h3.chart-title IP Locations in the past 30 days
    .map-container.chart-container
      .ag-ip-map(ag-ip-map="", data-ip-locations="ipLocations")
      .loader(ng-show="loading.ipLocations")
        i.fa.fa-spin.fa-spinner.fa-4x
      .data-empty-state(ng-hide="hasData.ipLocations")
          i.fa.fa-folder-open-o
          span &nbsp; No data yet


