.alert.dashboard-alert(ng-if="dashboardNotification" class="alert-{{dashboardNotification.type}}") {{dashboardNotification.content}}

.users
  section
    h3.chart-title Number of users in the past {{query.interval | intervalDisplay}}
    .chart-container
      .controls
        div(ag-interval-switch="")
        div(ag-switch="", onselect="groupBy()", btns="groupByBtns", value="query", field="groupBy")
      .canvas-container
        canvas#participants-chart
        .loader(ng-show="loading.channelUsers")
          i.fa.fa-spin.fa-spinner.fa-4x
        .data-empty-state(ng-hide="hasData.channelUsers")
          i.fa.fa-folder-open-o
          span &nbsp; No data yet
