.overview
  section
    h3.chart-title Number of users in the past {{query.interval | intervalDisplay}}
    .chart-container
      .controls
        div(ag-interval-switch="")
        div(ag-switch="", onselect="groupBy()", btns="groupByBtns", value="query", field="groupBy")
      .canvas-container
        canvas#participants-chart
