.verify-email
  .well
    .alert.alert-success Thanks for signing up Agora!
    .text-lead
      i.sprite-icon.mail-icon
      span.inline-block A verification email is sent to {{user.email}}. <br>Please check your inbox to verify your email.
