.docs-page {
  background-color: $light-gray;
  padding-bottom: 0;

  .docs-icon {
    margin-right: 15px;
  }

  .tile {
    background-color: white;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);

    li {
      margin-left: auto;
      margin-right: auto;
      width: 150px;
      border-bottom: 1px solid $light-gray;

      a {
        padding: 10px 0 10px $section-padding-sm;
        display: block;

        &:hover {
          background-color: $blue;
          color: white;
        }
      }

      &:last-child {
        border-width: 0;
      }
    }
  }

  .download-section {
    background-color: white;

    .container {
      width: 200px;
    }
  }
}

@include mq($screen-sm) {
  .docs-page {
    .page-headline {
      margin: $section-padding / 2 0;
    }

    .tile {
      margin-bottom: $section-padding;

      li {
        width: auto;

        a {
          padding-left: 35%;
        }
      }
    }

    .download-section {
      text-align: center;

      .container {
        width: auto;
      }

      .text-lead {
        font-size: $h3;
      }
    }
  }
}
