.docs-page {
  background-color: $light-gray;

  .tile {
    background-color: white;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);

    .fa-windows, .fa-apple, .fa-android {
      margin-right: 15px;
    }

    li {
      border-bottom: 1px solid $light-gray;

      a {
        padding: 10px 0;
        display: block;

        &:hover {
          background-color: $blue;
          color: white;
        }
      }

      &:last-child {
        border-width: 0;
      }
    }

    h2 {
      margin-top: 35px;
    }
  }
}

@include mq_max($screen-sm - 1px) {
  .docs-page {
    .page-section {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@include mq($screen-sm) {
  .docs-page {
    .page-headline {
      margin-bottom: 40px;
    }
  }
}
