.homepage {
  .banner-section {
    @include full-bg-image('/images/homepage/banner.jpg');
    position: relative;

    .more {
      position: absolute;
      bottom: $section-padding-sm;
      left: 50%;
      @include transform(translateX(-50%));
      opacity: 0.7;
    }
  }

  .features-section {
    .pod {
      margin-bottom: $section-padding-sm;
    }
  }

  .solutions-section {
    padding-bottom: 0;
    background-color: $blue;

    .sub-headline {
      margin-bottom: $section-padding-sm;
    }

    .title {
      margin-bottom: 0;
    }

    .img-container {
      padding-top: 50%;
      padding-bottom: 50%;
      background-position: center;
      background-size: cover;
    }

    .title-container {
      border-top: solid 8px $orange;
      padding: $line-gutter 0;
    }

    .pod:nth-child(even) .title-container {
      background-color: $dark-blue;
      border-top-color: $red;
    }
  }

  .docs-section {
    background-color: $cloud;

    i {
      margin-bottom: 10px;
      @include transition(transform 0.4s ease);

      &:hover {
        @include transform(scale(1.2));
      }
    }
  }
}

@include mq($screen-sm) {
  .homepage {
    .banner-section {
      height: 650px;

      .content-container {
        @include vertical-align-middle;
      }
    }

    .features-section {
      .pod {
        margin-bottom: $section-padding;

        &:last-child {
          margin-bottom: 0;
        };
      }

      .sprite-icon {
        margin-bottom: 10px;
      }
    }

    .solutions-section {
      .pod {
        float: left;
        width: 20%;
      }

      .sub-headline {
        margin-bottom: $section-padding;
      }
    }
  }
}
