/**
 * Help page
 */
.help-page {
  h4 {
    border-bottom: 1px solid $blue;
    color: $blue;
    margin-bottom: $section-padding-sm / 2;
    padding-bottom: $section-padding-sm / 2;
  }

  .article {
    i {
      font-style: normal;
      cursor: pointer;
    }

    ul {
      padding-left: 20px;
    }
  }
}

@include mq($screen-sm) {
  .article {
    padding-right: $section-padding * 2;
  }
}

/**
 * Career page
 */
.career-page {
  .banner-section {
    @include full-bg-image('/images/career/banner.jpg');
  }
}

@include mq($screen-sm) {
  .career-page {
    .banner-section {
      padding-top: $section-padding * 2;
    }

    .content-container {
      @include banner-content-container();
    }
  }
}
