/**
 * Help page
 */
.help-page {
  h4 {
    border-bottom: 1px solid $light-gray;
    margin-bottom: $section-padding-sm / 2;
    padding-bottom: $section-padding-sm / 2;
  }

  .article {
    li i {
      font-style: normal;
      cursor: pointer;
    }

    ul {
      padding-left: 20px;
    }

    li {
      color: $blue;
    }

    .answer, .answer li {
      color: $black;
    }
  }
}

/**
 * Career page
 */
.career-page {
  .banner-section {
    @include full-bg-image('/images/career/banner.jpg');
  }

  .job-container {
    border-bottom: 1px solid $light-gray;
    padding-bottom: $section-padding-sm;
    margin-bottom: $section-padding-sm;

    &:last-child {
      border-width: 0;
    }
  }
}

.pricing-page {
  @include full-bg-image('/images/pricing/banner.jpg');

  .content-container {
    @include banner-content-container();
  }
}

/**
 * About page
 */
.about-page {
  .banner-section {
    @include full-bg-image('/images/about/banner.jpg');

    .content-container {
      @include banner-content-container();
    }
  }
}

/**
 * Contact page
 */
.contact-page {
  .sf {
    @include full-bg-image('/images/contact/sf.jpg');
  }

  .shanghai {
    @include full-bg-image('/images/contact/shanghai.jpg');
  }

  .sf, .shanghai {
    padding: 0;
  }

  .content-container {
    @include banner-content-container();
    background-color: rgba(0,0,0,0.3);
    border-radius: 0;

    h3 {
      margin-bottom: 0;
      line-height: 1.5em;
    }
  }
}

/**
 * Reset password page
 */
.reset-password-page {
  background-color: $light-gray;
}

@include mq($screen-sm) {
  .article {
    padding-right: $section-padding * 2;
  }

  /**
   * About page
   */
  .about-page {
    .banner-section {
      height: $banner-height;
    }
  }

  /**
   * Picing page
   */
  .pricing-page {
    height: 700px;
  }

  /**
   * Career page
   */
  .career-page {
    .banner-section {
      padding-top: $section-padding * 2;
      height: $banner-height;
    }

    .content-container {
      @include banner-content-container();
    }

    .job-container {
      border-width: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  /**
   * Contact page
   */
  .contact-page {
    .sf, .shanghai {
      height: $banner-height;
    }

    .content-container {
      width: 80%;
      margin: 0 auto;
      @include vertical-align-middle();
    }

    .section-inquries {
      text-align: center;
    }
  }

  /**
   * About page
   */
  .about-page {
    .banner-section {
      padding-top: $section-padding * 2;
    }
  }

  /**
   * Reset password page
   */
  .reset-password-page {
    .page-header {
      margin-left: $section-padding * 1.2;
    }

    .form-reset-password {
      padding: 0 $section-padding;
    }
  }
}
