.product-page {
  .feature-content {
    border-top: 1px solid #eee;
  }

  .banner-section {
    overflow: hidden;
    background-color: $blue;
    background: -moz-radial-gradient(center, ellipse cover,  #1aa1e5 0%, #1aa1e5 24%, #22156b 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1aa1e5), color-stop(24%,#1aa1e5), color-stop(100%,#22156b)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #1aa1e5 0%,#1aa1e5 24%,#22156b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #1aa1e5 0%,#1aa1e5 24%,#22156b 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #1aa1e5 0%,#1aa1e5 24%,#22156b 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #1aa1e5 0%,#1aa1e5 24%,#22156b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aa1e5', endColorstr='#22156b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    .bg, .content-container {
      transition: opacity 2s ease-in;
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 4500px;
      height: 100%;
      background: url('/images/products/abstract-sound-waves.jpg') repeat-x left top;
      background-size: 2214px 550px;
    }

    .content-container {
      //@include banner-content-container();
      @include vertical-align-middle();
    }

    [ag-pulse] {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  .container.page-section {
    padding-top: 0;
  }
}

@include mq($screen-sm) {
  .product-page {
    .feature-content {
      border-top: 1px solid #eee;
      padding-left: 80px;
      padding-right: 80px;
    }

    .banner-section {
      height: 550px;

      .container {
        padding-top: $header-height * 2;
      }
    }
  }
}
