.product-page {
  .feature-content {
    border-top: 1px solid #eee;
  }

  .banner-section {
    overflow: hidden;

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 4500px;
      height: 100%;
      background: url('/images/products/abstract-sound-waves.jpg') repeat-x left top;
      background-size: 2214px 550px;
      z-index: -1;
    }

    .content-container {
      //@include banner-content-container();
      @include vertical-align-middle();
    }
  }

  .container.page-section {
    padding-top: 0;
  }
}

@include mq($screen-sm) {
  .product-page {
    .feature-content {
      border-top: 1px solid #eee;
      padding-left: 80px;
      padding-right: 80px;
    }

    .banner-section {
      height: 550px;

      .container {
        padding-top: $header-height * 2;
      }
    }
  }
}
