.product-page {
  .feature-content {
    border-top: 1px solid #eee;
  }

  .banner-section {
    @include full-bg-image('/images/products/cell-phone.jpg');

    .col-sm-6 {
      @include banner-content-container();
    }
  }

  .container.page-section {
    padding-top: 0;
  }
}

@include mq($screen-sm) {
  .product-page {
    .feature-content {
      border-top: 1px solid #eee;
      padding-left: 80px;
      padding-right: 80px;
    }

    .banner-section {
      height: 550px;

      .container {
        padding-top: $header-height * 2;
      }
    }
  }
}
