.solution-page {
  .solution-content {
    margin-bottom: $section-padding-sm;
  }
}

.solutions-page {
  .headline {
    margin-top: $section-padding-sm;
  }

  .img-container {
    width: 100%;
    background-color: $gray;
    position: relative;
    margin-bottom: 20px;

    .headline {
      position: absolute;
      margin: 0;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0.5);
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}

@include mq($screen-sm) {
  .solutions-page {
    article {
      margin-bottom: $section-padding;
    }
  }
}
