doctype html
html.no-js
  head
    meta(charset='utf-8')
    title Agora
    base(href='/')
    meta(name='description' content='Agora provides developers SDK to enable them to add high definition voice calls to any mobile or PC app through a simple, powerful SDK. Agora’s allows developers to add powerful group call/conference call feature Agora enables App to App Calls. Video call is coming soon Simple SDK allows you to integrate in minutes Our mission is to raise the VoIP industry to the next level.')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="icon", type="image/png", href="favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="favicon-16x16.png", sizes="16x16")
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400',rel='stylesheet',type='text/css')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // Google analytics
    script(type="text/javascript") (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-57262777-1', 'auto');ga('send', 'pageview');


  body(ng-app="AgoraApp")
    | <!--[if lt IE 10]>
    |     <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    block content

    // build:js scripts/main.js
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/angular-sanitize/angular-sanitize.min.js')
    script(src='../bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='scripts/vendors/zepto.min.js')
    script(src='scripts/vendors/headroom.js')
    script(src='scripts/vendors/angular.headroom.js')
    script(src='../bower_components/underscore/underscore-min.js')
    script(src='../bower_components/velocity/velocity.min.js')
    script(src='../bower_components/chartjs/Chart.min.js')
    script(src='../bower_components/moment/min/moment.min.js')
    script(src='scripts/templates.js')
    script(src='scripts/main.js')
    script(src='scripts/services/auth-events.js')
    script(src='scripts/services/session.js')
    script(src='scripts/services/auth.js')
    script(src='scripts/services/sidebar-navs.js')
    script(src='scripts/services/ag-time.js')
    script(src='scripts/services/ag-chart.js')
    script(src='scripts/services/voice-data.js')
    script(src='scripts/controllers/app/overviewCtrl.js')
    script(src='scripts/controllers/app/participantsCtrl.js')
    script(src='scripts/directives/ag-link-scroll.js')
    script(src='scripts/directives/ag-scroll-spy.js')
    script(src='scripts/directives/ag-subscribe-form.js')
    script(src='scripts/directives/ag-auth-form.js')
    script(src='scripts/directives/ag-show-toggle.js')
    script(src='scripts/directives/ag-modal.js')
    script(src='scripts/directives/ag-signin-modal.js')
    script(src='scripts/directives/ag-pulse.js')
    script(src='scripts/directives/ag-switch.js')
    script(src='scripts/directives/ag-interval-switch.js')
    // endbuild

