.account {
  background-color: white;
  width: 700px;
  margin: 0 auto;
  padding: $section-padding;
  border-radius: 5px;

  .api-key {
    margin-bottom: 20px;
  }

  input.form-control {
    border-width: 1px;
  }
}

.verify-email {
  padding: $section-padding;

  .well {
    padding: $section-padding;

    .alert-success {
      margin-bottom: 40px;
    }
  }

  .mail-icon {
    vertical-align: top;
    margin-right: 40px;
  }

  .inline-block {
    display: inline-block;
  }
}
