.dashboard-page {
  background-color: $light-gray;

  section {
    margin-bottom: $section-padding;
  }
}

@include mq($screen-sm) {
  .site-sidebar {
    float: left;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    background-color: $sidebar-bg;

    li {
      & > a {
        color: $sidebar-font;
        display: block;
        padding: 15px 0 15px 20px;
        transition: background-color 0.5s ease, color 0.5s ease;

        &:hover {
          text-decoration: none;
          background-color: $sidebar-active-bg;
          color: white;
        }
      }

      &.active > a {
        color: white;
        background-color: $sidebar-active-bg;
        border-left: 2px $blue solid;
      }

      i {
        margin-right: 15px;
      }
    }

    .sidebar-brand {
      display: block;
      padding: 40px 0 40px 30px;
      box-shadow: 0 -1px 2px 0 rgba(255, 255, 255, 1);
    }
  }

  .dashboard-main {
    margin-left: $sidebar-width;
    padding: 0 $section-padding;
  }
}
