.overview {
  .map-container {
    margin-top: $section-padding-sm;
  }

  .total-minutes {
    margin-bottom: 0;
    padding-bottom: 25px;
    border-bottom: 1px solid $light-gray;

    .text-lead {
      font-size: 2em;
    }
  }

  .usage-text-container {
    margin-bottom: 25px;
  }
}

.angular-google-map-container {
  height: 400px;
}
