.overview {
  .map-container {
    margin-top: $section-padding-sm;
  }

  .total-minutes {
    margin-bottom: 0;
    margin-top: 50px;
  }

  .usage-text-container {
    padding-left: $section-padding-sm;
  }
}

.angular-google-map-container {
  height: 400px;
}
