.android
  .row
    .col-sm-4.col-sm-offset-2.text-center
      a.link(href="/data/android_how_to_guide.pdf", target="_blank")
        span.icon-wrapper
          i.fa.fa-file-text-o
        span.title.text-lead.text-black
          span how to guide &nbsp;
          i.fa.fa-angle-right
    .col-sm-4.text-center
      a.link(href="/data/android_sdk_reference.pdf", target="_blank")
        span.icon-wrapper
          i.fa.fa-code
        span.title.text-lead.text-black
          span SDK reference &nbsp;
          i.fa.fa-angle-right


