.docs-page.page-container.text-black
  .page-section.container
    h1.text-center.page-headline Start Building with Agora!
    .col-sm-4.col-sm-offset-1.tile.text-center
      .file-icon.sprite-icon
      h2 How to guide
      ul.list-plain.text-lead
        li
          a.link(href="/data/android_how_to_guide.pdf", target="_blank")
            i.fa.fa-android
            span Android
        li
          a.link(href="/data/ios_how_to_guide.pdf", target="_blank")
            i.fa.fa-apple
            span iOS
        li
          a.link(href="/data/windows_how_to_guide.pdf", target="_blank")
            i.fa.fa-windows
            span Windows
    .col-sm-4.col-sm-offset-2.tile.text-center
      .layer-icon.sprite-icon
      h2 SDK reference
      ul.list-plain.text-lead
        li
          a.link(href="/data/android_sdk_reference.pdf", target="_blank")
            i.fa.fa-android
            span Android
        li
          a.link(href="/data/ios_sdk_reference.pdf", target="_blank")
            i.fa.fa-apple
            span iOS
        li
          a.link(href="/data/windows_sdk_reference.pdf", target="_blank")
            i.fa.fa-windows
            span Windows

