.docs-page.page-container.text-black
  h1.text-center.page-headline Start Building with Agora!
  .container.docs-section
    .col-sm-4.col-sm-offset-1.tile
      h2.text-center
        i.fa.fa-file-text-o.docs-icon
        span How to guide
      ul.list-plain.text-lead
        li
          a.link(href="/data/android_how_to_guide.pdf", target="_blank")
            i.fa.fa-android.docs-icon
            span Android
        li
          a.link(href="/data/ios_how_to_guide.pdf", target="_blank")
            i.fa.fa-apple.docs-icon
            span iOS
        li
          a.link(href="/data/windows_how_to_guide.pdf", target="_blank")
            i.fa.fa-windows.docs-icon
            span Windows
    .col-sm-4.col-sm-offset-2.tile
      h2.text-center
        i.fa.fa-file-code-o.docs-icon
        span SDK reference
      ul.list-plain.text-lead
        li
          a.link(href="/data/android_sdk_reference.pdf", target="_blank")
            i.fa.fa-android.docs-icon
            span Android
        li
          a.link(href="/data/ios_sdk_reference.pdf", target="_blank")
            i.fa.fa-apple.docs-icon
            span iOS
        li
          a.link(href="/data/windows_sdk_reference.pdf", target="_blank")
            i.fa.fa-windows.docs-icon
            span Windows

  .download-section.page-section
    .container
      h2
        i.fa.fa-download.docs-icon
        span Download SDK
      .row.text-lead
        .col-sm-4
          a.link(href="/data/android.zip", target="_blank")
            i.fa.fa-android.docs-icon
            span Android
        .col-sm-4
          a.link(href="/data/ios.zip", target="_blank")
            i.fa.fa-apple.docs-icon
            span iOS
        .col-sm-4
          a.link(href="/data/windows.zip", target="_blank")
            i.fa.fa-windows.docs-icon
            span Windows





