.solutions-page.page-container.container
  .row
    .col-sm-2.hidden-xs
      ul.nav.nav-pills.nav-stacked.ag-sidebar(ag-scroll-spy="")
        li(ng-repeat="nav in navs", ng-class="{active: nav.label == selected.label}")
          a(href="{{nav.link}}", ng-click="select(nav)", ag-link-scroll="") {{nav.label}}
    .col-sm-10
      article#online-education
        .img-container
          img.img-responsive(src="/images/solutions/online_education.jpg")
          h1.headline Education
        p Agora offers an ideal online platform for teachers and students to exchange ideas in a stable and private learning environment. Students can access private tutors online anywhere and anytime. Agora’s crystal clear voice quality allows students to hear their teachers as if they are in the same room.
        p Agora’s Big Group Calls (BGCs) recreates the classroom environment where up to 2,000 students can listen to a professor’s lecture in real-time. Students can also leverage BGCs to easily organize and conduct study groups even if they are oceans apart.
      article#social
        .img-container
          img.img-responsive(src="/images/solutions/social.jpg")
          h1.headline Social
        p Give your users a secure way to connect with those around them. Agora’s Voice API brings clear, direct voice calls to your app so they stay in your app.
        p Agora’s anonymous call feature is particularly useful when users have no desire to exchange personal contact information. This feature may be used for one-time business interactions, service calls, or online dating. Anonymous calling eliminates the need for temporary numbers, which allows for easy user management and call monitoring. Use Agora to ensure the privacy and security of your users.
      article#marketplace
        .img-container
          img.img-responsive(src="/images/solutions/marketplace.jpg")
          h1.headline Marketplace
        p Customers always have questions. Agora helps buyers and sellers converse with each other inside your own app or website so they can exchange enough information to make a purchase.
        p Agora allows buyers and sellers to interact while keeping their privacy and providing a personal connection. Users no longer have to worry about uploading their private phone numbers onto public websites. Increase customer satisfaction and seller efficiency all within your app with Agora’s simple API.
      article#gaming
        .img-container
          img.img-responsive(src="/images/solutions/gaming.jpg")
          h1.headline Gaming
        p Games that require real-time cooperation among players work best when that cooperation is voice-based. Easily bring users of multi-player games together using Agora. Players no longer need to break their game experience by having to type a message to communicate with others. Give your gamers the ability to communicate verbally so their experience is more interactive and fun.
      article#dating
        .img-container
          img.img-responsive(src="/images/solutions/dating.jpg")
          h1.headline Dating
        p Few online dating services can provide the intimacy and personal security that Agora offers. People are uncomfortable to exchange sensitive personal data such as phone numbers when dating. Agora enables dating services to provide anonymous calling so users can communicate while knowing their privacy is safeguarded. Agora’s voice quality allows couples to hear each other with such clarity that new levels of intimacy can be achieved.

      .text-center
        a.btn.btn-lg.btn-primary(href="/docs") Get Started
