p Education should be accessible everywhere. By giving students access to tutors without requiring them to leave home, students are more likely to engage completely and enthusiastically with the subject matter.
p Online education
p
  ul
    li Talk with tutor or classmates online directly make the lecture based on line education more engaging and effective
    li Study group could be more efficient and engaging when students can interact with each other directly. Not being able to sit in the same room? No problem. Agora made the on line classroom the same as you sit in the same study room with classmates.
    li For distance learning, students are more likely to continue discussion online when they can easily start a one to one or group discussion.
