p Connect users quickly and easily by adding a call feature directly within your app. Use he Agora Voice API to bring voice calls to your users with the click of a button, allowing direct voice connections with friends, family and businesses.

p Agora’s anonymous call feature is particularly useful for connections in the early stages of development or where a relationship is not intended to develop. This may take the form of one-time calls, pre-existing acquaintances, or for service apps, where two people need to connect but would prefer not exchange phone numbers. Using anonymous calling also eliminates the need for a temporary number, allowing for easy user management and monitoring of calls.

p Ensure privacy and security by letting users make calls from within the app. With Agora, you can choose not to display personal numbers, so user calls can be completely anonymous.
