.about-page.text-black
  section.banner-section.page-section
    .container-sm.content-container
      h1.text-center About
      p Agora provides the building blocks developers need to add high definition voice calls to any mobile or PC app through a simple, powerful SDK. Agora’s proprietary technology handles billions of voice minutes every year, which allows developers to support as many as 2,000 users in a single call. At Agora, we handle the challenging pieces of voice communication, so our customers can focus on expanding their business. Don’t worry any more about poor quality calls or privacy issues that may arise when using other services.

  section.page-section.container
    .container-sm
      h1.text-center Team
      p We possess over 20 years of Voice over IP (VoIP) development experience. Our mission is to raise the VoIP industry to the next level. Agora’s core team members come from YY.com, a Nasdaq-listed company, and have acquired extensive experience with large-scale VoIP operations. Agora is backed by leading VC firms.


