.about-page.page-container.text-black.container
  section.page-section
    .page-section-inner
      article.article
        h1 About
        p Agora provides the building blocks developers need to add HD voice calls to any mobile app through a simple yet powerful SDK. Agora’s proprietary, proven technology handles billions of voice minutes every year, allowing developers to support as many as 2,000 callers in any single call. At Agora, we handle the challenging pieces of voice communication, letting developers focus on building the products great
      article.article
        h1 Team
        p With over 15 years of experience in voice technology, our mission is to transition into and excel within the VoIP industry. Agora’s core team comes from Nasdaq-listed company YY, Inc. where we have acquired extensive experience supporting large-scale VoIP operations. Agora is backed with $30 million in funding through leading VC firms.


