.about-page.text-black
  section.banner-section.page-section
    .container-sm.content-container
      h1.text-center About
      p Agora provides the building blocks developers need to add high definition voice calls to any mobile app through a simple yet powerful SDK. Agora’s proprietary, proven technology handles billions of voice minutes every year, which allows developers to support as many as 2,000 users in a single call. At Agora, we handle the challenging pieces of voice communication, so our users can focus on expanding their businesses and social circles instead of having to worry about the dropped calls and privacy issues that commonly arise with other networks.

  section.page-section.container
    .container-sm
      h1.text-center Team
      p With over 20 years of experience in voice technology, our mission is to excel within the VoIP industry. Agora’s core team members come from Nasdaq-listed company YY, Inc. where we have acquired extensive experience supporting large-scale VoIP operations. Agora is backed through leading VC firms.


