.contact-page
  .container-fluid
    .row
      .col-sm-6.sf
        .content-container
          h3.text-white Palo Alto<br>378 Cambridge Ave, Suite M<br>Palo Alto, CA 94036
      .col-sm-6.shanghai
        .content-container
          h3.text-white Shanghai<br>802, 8F, 333 Song Hu Rd,<br>Yangpu District, Shanghai 200438
  section.page-section.text-black.container-fluid.section-inquries
    h3.visible-xs-block INQURIES
    .row
      .col-sm-3
        span Press: &nbsp;
        a(href="mailto:marketing@agoravoice.io") marketing@agoravoice.io
      .col-sm-3
        span Jobs: &nbsp;
        a(href="mailto:hr@agoravoice.io") hr@agoravoice.io
      .col-sm-3
        span Help: &nbsp;
        a(href="mailto:support@agoravoice.io") support@agoravoice.io
      .col-sm-3
        span Sales: &nbsp;
        a(href="mailto:sales@agoravoice.io") sales@agoravoice.io
