.contact-page.page-container.text-black.container
  section.page-section
    .page-section-inner
      h1 Agora Contact
      .row
        .col-sm-6
          h3 INQUIRES
          ul.list-plain
            li
              span Press: &nbsp;
              a(href="mailto:marketing@agoravoice.io") marketing@agoravoice.io
            li
              span Jobs: &nbsp;
              a(href="mailto:hr@agoravoice.io") hr@agoravoice.io
            li
              span Help: &nbsp;
              a(href="mailto:support@agoravoice.io") support@agoravoice.io
            li
              span Sales: &nbsp;
              a(href="mailto:sales@agoravoice.io") sales@agoravoice.io
        .col-sm-6
          h3 LOCATIONS
          article.article
            p Palo Alto<br>378 Cambridge Ave, Suite M<br>Palo Alto, CA 94036
          article.article
            p Shanghai<br>802, 8F, 333 Song Hu Rd,<br>Yangpu District, Shanghai 200438
