.contact-page.page-container.text-black.container
  section.page-section.bg-cloud
    .page-section-inner
      h1 Agora Contact
      .row
        .col-sm-6
          h3 INQUIRES
          ul.list-plain
            li
              div Press
              a(href="mailto:marketing@agoravoice.io") marketing@agoravoice.io
            li
              div Jobs
              a(href="mailto:hr@agoravoice.io") hr@agoravoice.io
            li
              div Help
              a(href="mailto:support@agoravoice.io") support@agoravoice.io
            li
              div Sales
              a(href="mailto:bilige@agoravoice.io") bilige@agoravoice.io
        .col-sm-6
          h3 LOCATIONS
          article.article
            p Palo Alto<br>378 Cambridge Ave, Suite M<br>Palo Alto, CA 94036
          article.article
            p Shanghai<br>802, 8F, 333 Song Hu Rd,<br>Yangpu District, Shanghai 200438
