.container
  .row
    .col-sm-6
      ul.list-horizontal
        li
          a.link(ui-sref="root.about") about
        li
          a.link(ui-sref="root.career") career
        li
          a.link(ui-sref="root.press") press
        li
          a.link(ui-sref="root.contact") contact
      ul.list-horizontal
        li
          a.link(ui-sref="root.terms") terms
        li
          a.link(ui-sref="root.privacy") privacy
    .col-sm-6.right-text
      ul.list-horizontal.list-social-media
        li
          a.link(href="https://www.facebook.com/AgoraIO")
            i.fa.fa-facebook
        li
          a.link(href="https://twitter.com/AgoraIO")
            i.fa.fa-twitter
        li
          a.link(href="https://plus.google.com/u/0/b/115415709193127825785/dashboard/overview")
            i.fa.fa-google-plus
        li
          a.link(href="https://plus.google.com/u/0/b/115415709193127825785/dashboard/overview")
            i.fa.fa-linkedin
      .copyright
        i.fa.fa-copyright
        span 2014 Agora, Inc


