.container
  .navbar-header
    button.navbar-toggle.collapsed(type="button", ag-show-toggle="", data-target="#header-collapse")
      i.fa.fa-bars
    a.navbar-brand(ui-sref="root.home")
      i.sprite-icon.agora-logo-icon
  nav.navbar-collapse.header-collapse.collapse.in#header-collapse(role="navigation", aria-expanded="true")
    ul.nav.navbar-nav
      li(ng-class="{active:nav.active}", ng-repeat="nav in navs")
        a.cap(href="{{nav.url}}") {{nav.label}}
  .secondary-nav.pull-right.hidden-xs
    a.link.primary-link(ng-click="showSigninModal()", ng-if="!user.id") Sign In
    .dropdown(ng-if="user.id")
      a.link.dropdown-toggle.primary-link(ag-show-toggle="" target=".dropdown-menu") {{user.name}} <span class="caret"></span>
      ul.dropdown-menu
        li
          a(ui-sref="root.dashboard.overview") dashboard
        li(ng-if="user.role === 1")
          a(ui-sref="root.admin") admin
        li
          a(href="/api/signout" ag-signout-link="") sign out

