.container
  .navbar-header
    button.navbar-toggle.collapsed(type="button", ag-show-toggle="", data-target="#header-collapse")
      i.fa.fa-bars
    a.navbar-brand(ui-sref="root.home")
      i.sprite-icon.agora-logo-icon
  nav.navbar-collapse.header-collapse.collapse.in#header-collapse(role="navigation", aria-expanded="true")
    ul.nav.navbar-nav
      li(ng-class="{active:nav.active}", ng-repeat="nav in navs")
        a.cap(href="{{nav.url}}") {{nav.label}}
      li(ng-if="user.id")
        a(ui-sref="root.dashboard") {{user.name}}
      li(ng-if="!user.id")
        a(ng-click="showSigninModal()") Sign In

