.homepage
  section.page-section.banner-section.center-text
    .content-container.container-sm
      .h1-xl Power the app communication
      h3 Build voice communication feature into your app <br>with Agora simple SDK in minutes
    a.more.link(href="#features-section", ag-link-scroll=true)
      i.fa.fa-angle-down.fa-4x


  section.page-section.features-section.center-text.text-black#features-section.container
    .row
      .col-sm-4.pod
        .sprite-icon.app-call-icon
        h3.title.text-blue App to app calling
        .content.text-lead
          p Our platform offers crystal clear voice quality through HD audio Codecs.
          p
            a(href="", ng-click="featuresMore.appCall = true") Learn more
          .more.left-text.bg-cloud(ng-show="featuresMore.appCall")
            p With this feature, you can improve your user experience, increase app stickiness, and enhance the users communication efficiency.
            p Agora’s Video Call feature is coming soon. Sign up to stay tuned(link to subscribe).
            a(href="", ng-click="featuresMore.appCall = false") Less
      .col-sm-4.pod
        .sprite-icon.group-call-icon
        h3.title.text-blue Powerful group calls
        .content.text-lead
          p Our Our algorithm can support up to 2,000 participants in a single chat session.
          p
            a(href="", ng-click="featuresMore.groupCall = true") Learn more
          .more.left-text.bg-cloud(ng-show="featuresMore.groupCall")
            p With Agora, group chat has never been so hassle-free. Our algorithm can support up to 2,000 participants in a single chat session while still ensuring stable voice quality Regardless of your network condition, the noise in your surrounding environment, or the quality of your cellular device, Agora’s state-ofthe-art voice engine is optimized to preserve your accuracy of speech to enable your group chat to run smoothly, ensuring a high-quality experience for every participant
            a(href="", ng-click="featuresMore.groupCall = false") Less
      //.pod.container-sm
        .sprite-icon.anonymous-call-icon
        h3.title.text-blue Anonymous call
        .content
          p.text-lead Our Voice-over-IP Agora’s simple SDK allows your integration to happen in minutes.
      .col-sm-4.pod
        .sprite-icon.rocket-icon
        h3.title.text-blue Integrate in minutes
        .content.text-lead
          p Our Voice-over-IP Agora’s simple SDK allows your integration to happen in minutes.&nbsp;
          p
            a(href="", ng-click="featuresMore.integration = true") Learn more
          .more.left-text.bg-cloud(ng-show="featuresMore.integration")
            p Agora makes communication simple. From documentation to integration, the Agora Voice API is straightforward and built on simplicity, designed to make the user experience as comfortable as possible. It takes just a few minutes to enable real time voice call functionality on your app. From there, the possibilities are limitless.
            p Want to integrate calling into your apps? Get started with Agora today! (link to early access)
            a(href="", ng-click="featuresMore.integration = false") Less


  section.page-section.solutions-section.center-text.text-white
    .container-sm
      h1 Solutions
      p.text-lead.left-text.sub-headline Agora can help your users enjoy a more efficient and engaging communication with each other on your platform. Find the right fit for you.
    .pod-container.clearfix
      a.pod.link-block(ng-repeat="solution in solutions", href="/#/solutions/{{solution.name}}")
        .img-container
          .solution-img(style="background-image:url({{solution.img}})")
          i.more.fa.fa-3x.fa-search-plus.text-blue
        .title-container
          h3.title.text-white {{solution.title}}

  section.page-section.docs-section.center-text.text-black
    h1.text-blue Get started
    .container
      .row
        .col-sm-4(ng-repeat="doc in docs")
          a.link.text-black(href="")
            i.fa.fa-5x(class="{{doc.icon}}", title="{{doc.title}}")
            h3.title {{doc.title}}

  section.page-section.pricing-section.center-text.text-black#section-pricing
    .container-sm
      h1.text-blue Pricing
      h3 Pay as you grow with Agora’s simple price structure
      article.left-text
        p.text-lead We are in Beta stage and provide a 6-months free trial for any customers who uses Agora’s service in this stage.
        p.text-lead After the beta stage, the first 100,000 minutes each month is entirely free. $99 for every 100,000 minutes following the free tier (equals to $0.99 per 1,000 minutes)
        p.text-lead Have more questions? Visit our <a ui-sref="root.help">help center</a> or send us an email at <a href="mailto:support@agoravoice.io">support@agoravoice.io</a>.

