.homepage
  section.page-section.banner-section.center-text
    .bg.zoom-in
    .content-container.container-sm
      .h1-xl Powering App to App Calls
      h3 Add voice call functionality in minutes using Agora’s simple SDK
      a.btn.btn-x-lg.btn-primary(href="#subscribe-section", ag-link-scroll=true) Get early access
    a.more.link.hidden-xs(href="#features-section", ag-link-scroll=true)
      i.fa.fa-angle-down.fa-3x


  section.page-section.features-section.center-text.text-black#features-section.container
    .row
      .col-sm-4.pod
        .sprite-icon.app-call-icon
        h2.title.text-blue App to app calling
        h4 We offer remarkable quality voice calls
        .content.text-left.text-lead
          //.more(ng-show="featuresMore.appCall")
          p Using our proprietary HD audio Codecs and state-of-the-art voice engine, we preserve speech quality across various device and network conditions.
          p Video calls are coming soon. <a href="#subscribe-section" ag-link-scroll>Sign up to stay tuned</a>.
        //a.text-lead(href="", ng-click="featuresMore.appCall = !featuresMore.appCall") {{featuresMore.appCall ? 'less' : 'Learn more'}}

      .col-sm-4.pod
        .sprite-icon.group-call-icon
        h2.title.text-blue Big group chat
        h4 Call up to 2,000 people on a call
        .content.text-left.text-lead
          //.more(ng-show="featuresMore.groupCall")
          p We enable large group calls while maintaining voice quality to ensure a high-quality experience for every participant.
        //a.text-lead(href="", ng-click="featuresMore.groupCall = !featuresMore.groupCall") {{featuresMore.groupCall ? 'less' : 'Learn more'}}

      .col-sm-4.pod
        .sprite-icon.rocket-icon
        h2.title.text-blue Integrate in minutes
        h4 Our SDK allows you to integrate in minutes
        .content.text-left.text-lead
          //.more(ng-show="featuresMore.integration")
          p We make calling simple. From documentation to integration, Agora’s Voice API is straightforward and built on simplicity. <a href="#subscribe-section" ag-link-scroll>Get started with Agora today</a>!
        //a.text-lead(href="", ng-click="featuresMore.integration = !featuresMore.integration") {{featuresMore.integration ? 'less' : 'Learn more'}}


  section.page-section.solutions-section.center-text.text-white
    .container-sm
      h1 Solutions
      p.text-lead.left-text.sub-headline Agora can help your users enjoy a more efficient and engaging communication with each other on your platform. Find the right fit for you.
    .pod-container.clearfix
      a.pod.link-block(ng-repeat="solution in solutions", href="/solutions#{{solution.name}}")
        .img-container
          .solution-img(style="background-image:url({{solution.img}})")
          i.more.fa.fa-3x.fa-search-plus.text-blue
        .title-container
          h3.title.text-white {{solution.title}}

  section.page-section.docs-section.center-text.text-black
    .content-vertical-align-middle
      h1 Get started
      h3 Download our SDK now and start integrating!
      .container
        .row
          .col-sm-4(ng-repeat="doc in docs")
            a.link.text-blue(href="{{doc.link}}")
              i.fa.fa-5x(class="{{doc.icon}}", title="{{doc.title}}")
              h3.title {{doc.title}}

  section.page-section.pricing-section.center-text.text-black#section-pricing
    .container-sm.content-vertical-align-middle
      h1.text-blue Pricing
      h3 Pay as you grow with Agora’s simple price structure
      article.left-text
        p.text-lead Become our beta customer and get free calls.
        p.text-lead After beta, the first 10,000 minutes each month are free. Each additional 100,000 minutes is charged at $99 -- which is equal to paying only $0.99 per 1,000 minutes of use!
        p.text-lead Have more questions? Visit our <a ui-sref="root.help">help center</a> or send us an email at <a href="mailto:support@agoravoice.io">support@agoravoice.io</a>.

  section.page-section.center-text.text-black.subscribe-section#subscribe-section
    div(ag-subscribe-form="")

