.homepage
  section.page-section.banner-section.center-text
    .content-container.container-sm
      .h1-xl Power the app communication
      h3 Build voice communication feature into your app <br>with Agora simple SDK in minutes
    a.more.link(href="#features-section", ag-link-scroll=true)
      i.fa.fa-angle-down.fa-4x


  section.page-section.features-section.center-text.text-black#features-section
    .pod.container-sm
      .sprite-icon.app-call-icon
      h3.title.text-blue App to app calling
      .content
        p.text-lead Our Voice-over-IP (VoIP) platform offers crystal clear voice quality through HD audio Codec
    .pod.container-sm
      .sprite-icon.group-call-icon
      h3.title.text-blue Powerful group calls
      .content
        p.text-lead Our Voice-over-IP (VoIP) platform offers crystal clear voice quality through HD audio Codec
    .pod.container-sm
      .sprite-icon.anonymous-call-icon
      h3.title.text-blue Anonymous call
      .content
        p.text-lead Our Voice-over-IP (VoIP) platform offers crystal clear voice quality through HD audio Codec
    .pod.container-sm
      .sprite-icon.rocket-icon
      h3.title.text-blue Integrate in minutes
      .content
        p.text-lead Our Voice-over-IP (VoIP) platform offers crystal clear voice quality through HD audio Codec


  section.page-section.solutions-section.center-text.text-white
    .container-sm
      h1 Solutions
      p.text-lead.left-text.sub-headline Agora can help your users enjoy a more efficient and engaging communication with each other on your platform. Find the right fit for you.
    .pod-container.clearfix
      .pod(ng-repeat="solution in solutions")
        .img-container(style="background-image:url({{solution.img}})")
        .title-container
          h3.title {{solution.title}}

  section.page-section.docs-section.center-text.text-black
    h1.text-blue Get start
    .container
      .row
        .col-sm-4(ng-repeat="doc in docs")
          a.link.text-black(href="")
            i.fa.fa-5x(class="{{doc.icon}}", title="{{doc.title}}")
            h3.title {{doc.title}}

  section.page-section.pricing-section.center-text.text-black#section-pricing
    .container-sm
      h1.text-blue Pricing
      h3 Pay as you grow with Agora’s simple price structure
      article.left-text
        p.text-lead We are in Beta stage and provide a 6-months free trial for any customers who uses Agora’s service in this stage.
        p.text-lead After the beta stage, the first 100,000 minutes each month is entirely free. $99 for every 100,000 minutes following the free tier (equals to $0.99 per 1,000 minutes)
        p.text-lead Have more questions? Visit our <a ui-sref="root.help">help center</a> or send us an email at <a href="mailto:support@agoravoice.io">support@agoravoice.io</a>.

