.pricing-page.page-container.container
  .page-section.bg-cloud.text-black.text-center
    .page-section-inner
      h1 Pricing
      h3 Pay as you grow with Agora’s simple price structure
      article.text-left
        p.text-lead We are in Beta stage and provide a 6-months free trial for any customers who uses Agora’s service in this stage.
        p.text-lead After the beta stage, the first 100,000 minutes each month is entirely free. $99 for every 100,000 minutes following the free tier (equals to $0.99 per 1,000 minutes)
        p.text-lead Have more questions? Visit our <a ui-sref="root.help">help center</a> or send us an email at <a href="mailto:support@agoravoice.io">support@agoravoice.io</a>.

