.pricing-page.page-container.text-black
  .page-section.container
    .col-sm-6.col-sm-offset-6.content-container
      h3 Pay as you grow with Agora’s simple price structure
      article.text-left
        p.text-lead Become our beta customer and get free calls.
        p.text-lead After beta, the first 10,000 minutes each month are free. Each additional 100,000 minutes is charged at $99 -- which is equal to paying only $0.99 per 1,000 minutes of use!
        p.text-lead Have more questions? Visit our <a ui-sref="root.help">help center</a> or send us an email at <a href="mailto:support@agoravoice.io">support@agoravoice.io</a>.

