.product-page.page-container.container.text-black
  .page-section.banner-section
    .container-sm.text-lead
      p Enjoy the crystal clear voice quality and super wideband voice experience delivered by Agora’s 20+ global distribution centers. Our virtual network is powered by proprietary intelligent routing algorithms, allowing us to support you wherever you are.
      p Agora’s super wideband audio solution, with bandwidth broader than Apple’s Facetime,restores comfort and ease to communication, as if users were talking face to face

  .row.feature-content.page-section
    .col-sm-3
      .sprite-icon.app-call-lg-icon
    .col-sm-9
      h3.text-blue App to app calling
      p Our Voice-over-IP (VoIP) platform offers crystal clear voice quality through HD audio Codecs
      p
        span  Why App to App Calling
        ul
          li Improve user experience: Simply click a button in the app to call other users
          li Users no longer need to leave your app when making a phone call
          li App stickiness: Encourage users to interact with each other within the app, enhance customers loyalty and use level with added social features
          li Privacy: Allow users to talk without sharing phone numbers
      p Video call is coming soon. Sign up (link) to stay tuned.

  .row.feature-content.page-section
    .col-sm-9
      h3.text-blue Powerful group calls
      p Think you have enough support with your existing group call app? Agora’s unique technology can support as many as 2,000 participants in a single group call.
      p
        span The robust group calls is enabled by:
        ul
          li Agora’s super wideband audio solution, with bandwidth broader than Apple’s Facetime, restores comfort and ease to communication, as if users were talking face to face.
          li Agora’s global virtual network, powered by 20+ distribution centers and using an intelligent routing algorithm to bring clarity and function to users around the world.
          li Agora’s proprietary technology, which eliminates adverse network conditions, from voice delays to dropped calls, by up to 70%.
          li Agora’s state-of-the-art voice engine is optimized to preserve accuracy of speech regardless of mobile device quality or type, in any environment and despite background noise.
    .col-sm-3
      .sprite-icon.group-call-lg-icon

  .row.feature-content.page-section
    .col-sm-3
      .sprite-icon.anonymous-call-lg-icon
    .col-sm-9
      h3.text-blue Anonymous calling
      p Your users can have mind at ease. With Agora’s anonymous calling features, they can keep their call private.
      p This feature is especially popular in dating apps, where users want to communicate with each other but not reveal personal information such as phone numbers and names when they don’t want to.

  .row.feature-content.page-section
    .col-sm-9
      h3.text-blue Integrate in minutes
      p Agora’s simple SDK allows your integration happens in minutes. Agora supports iOS, Android and Windows, which makes adding calling across different platform easy.
      p Agora’s simplicity is also seen in the documentation, with details on how to add anonymous feature in all 3 platforms. Currently we support anonymous calling for app to app. App to phone will come soon.
      p Want to integrate calling into your apps? Get started with Agora today!
    .col-sm-3
      .sprite-icon.rocket-lg-icon
