.product-page.text-black
  .page-section.banner-section
    .container
      .row
        .col-sm-6.col-sm-offset-6
          .h1-xl.headline.text-blue Let your users talk to each other
          h3.text-gray from within your app or webpage using Agora’s SDK

  .page-section.container
    .row.feature-content.page-section
      .col-sm-3.hidden-xs
        .sprite-icon.app-call-lg-icon
      .col-sm-8
        h3.text-blue App to app calling
        p Our Voice-over-IP (VoIP) platform offers crystal clear voice quality through High Definition audio codecs.
        ul
          li Improved user experience: design your own voice call UI to fit your app.
          li Increase app stickiness: users no longer need to leave your app when making a phone call.
          li Protect privacy: users can talk to each other without sharing phone numbers.
        p Video calling is coming soon. <a href="#subscribe-modal" ag-modal>Sign up to stay tuned</a>.

    .row.feature-content.page-section
      .col-sm-8
        h3.text-blue Big Group Calls
        p If you need to talk to 2,000 people at once (e.g. a town hall meeting), Agora’s group calling is for you.
        p Big Group Calls is powered by Agora’s virtual network of 20+ globally distributed centers that intelligently route calls using a proprietary algorithm to ensure that all participants stay connected and enjoy a high quality voice call.
      .col-sm-3.hidden-xs
        .sprite-icon.group-call-lg-icon

    .row.feature-content.page-section
      .col-sm-3.hidden-xs
        .sprite-icon.ribbon-lg-icon
      .col-sm-8
        h3.text-blue Premium quality
        p Agora’s proprietary High Definition audio codecs preserves speech quality across various device, network, and background noise conditions. Transmitting audio across a super bandwidth, broader than Apple’s Facetime, Agora’s audio solution achieves unparalleled voice quality.
        p Agora’s state-of-the-art voice engine built on top of a global virtual network ensures call connectivity that many competitors are unable to achieve. Built on decades of experience, Agora’s proprietary technology eliminates adverse network conditions, from voice delays to dropped calls, by up to 70%.

    .row.feature-content.page-section
      .col-sm-8
        h3.text-blue Anonymous calling
        p Agora’s anonymous calling feature gives users peace of mind that their calls are private. This feature is especially popular in dating apps, where users can communicate with each other but can avoid revealing their name or phone numbers.
      .col-sm-3.hidden-xs
        .sprite-icon.anonymous-call-lg-icon

    .row.feature-content.page-section
      .col-sm-3.hidden-xs
        .sprite-icon.rocket-lg-icon
      .col-sm-8
        h3.text-blue Integrate in minutes
        p Agora’s simple SDK allows you to integrate call functionality into your app in just minutes. From documentation to integration, Agora’s Voice API is straightforward and built on simplicity. Adding a few lines of code opens up a limitless number of communication possibilities amongst your users.
        p Agora supports iOS, Android and Windows. We make adding calls from across different platforms and networks very quick and convenient. Agora supports secure, anonymous calling on all 3 platforms.
        p Want to integrate calling into your apps? <a href="#subscribe-modal" ag-modal>Get started with Agora today</a>!

    .page-section
      h3.text-blue Audio module specification
      table.table.table-bordered
        tr
          td(rowspan=3)
            strong Speech & Audio Codecs
          td
            span Proprietary codec: Agora NOVA
            ul
              li Low complexity and high scalability
              li Superior quality (average of 3.92 PESQ-WB score for wideband)
              li Narrowband, Wideband(WB), Super Wide Band(SWB) (8/16/32KHz sampling rate) all-in-one
              li Variable bit-rate (8kbps ~ 24kbps)
              li Flexible mode selection (Scalable mode, High-Quality mode, Low-Power, High-Quality mode and Super Wideband mode)
        tr
          td 3rd party Super Wideband (SWB) and Full band codecs: AAC-ELD, OPUS
        tr
          td 3rd party Wideband (WB) and Narrowband (NB) codecs: Other popular codecs (ITU G.7xx Series, SILK, iLBC, iSAC)
        tr
          td(rowspan=3)
            strong Speech & Audio Processing
          td
            span Agora Acoustic Echo Cancellation
            ul
              li Low complexity and high efficiency
              li Support SWB (32KHz sampling rate) operation
              li Fast convergence and High ERLE
              li Optimized for both premium and low-cost mobile phones
              li Device specific parameter configuration
        tr
          td Agora Active Conference Mixing
        tr
          td Also include ANS/AGC/VAD/CNG module
        tr
          td(rowspan=2)
            strong Network Optimization
          td Highly effective and adaptive jitter buffer management
        tr
          td Packet loss concealment (up to 70%)
        tr
          td
            strong Supported OS
          td iOS | Android | Windows


