.container.page-container.text-black.reset-password-page
  .alert(ng-if="message" class="alert-{{message.type}}") {{message.content}}
  form.form-horizontal.form-reset-password
    fieldset(ng-hide="requestedCode")
      .form-group
        label.control-label.col-sm-3 Email
        .col-sm-9
          input.form-control(type="email" name="email" ng-model="user.email" placeholder="required" required="")
      .form-group
        .col-sm-offset-3.col-sm-9
          button.btn.btn-primary(type="button" ng-disabled="processing" ng-click="sendCode($event)")
            span Send security code 
            i.fa.fa-spin.fa-spinner

    fieldset(ng-show="requestedCode")
      .form-group
        label.control-label.col-sm-3 New password
        .col-sm-9
          input.form-control(type="password" name="password" ng-model="user.password" placeholder="required" required="")
      .form-group
        label.control-label.col-sm-3 Security code
        .col-sm-9
          input.form-control(type="text" name="code" ng-model="user.access_token" placeholder="required" required="")
      .form-group
        .col-sm-offset-3.col-sm-9
          button.btn.btn-primary(type="button" ng-disabled="processing" ng-click="resetPassword($event)")
            span Reset password
            i.fa.fa-spin.fa-spinner

